<template>

</template>

<script>
  import PortletContent from '../../../common/components/Portlets/Content/PortletContent'
  import Form from '../../../common/utitlities/Form'

  export default {
    name: "custom-form",
    data() {
      return {
        message: 'hello',
        form: new Form(),
        loaded: true,
        formSubmitting: true,
        invoiceList: [],
        partyList: [],
        values: {
          invoices: [],
          parties: []
        }
      }
    },
    props: {
      url: {
        required: true
      },
      method: {
        type: String,
        default: "post"
      },
      custom: {
        required: false
      },
      allinvoices: {
        required: true
      },
      allparties: {
        required: true
      }
    },
    components: {
      PortletContent
    },
    mounted() {
      this.partyList = JSON.parse(this.allparties);
      this.invoiceList = JSON.parse(this.allinvoices);
      console.log(this.custom);
      if (this.method === 'patch') {
        this.values = JSON.parse(this.custom);
      }
    },
    methods: {
      submit() {
        this.form = new Form(this.values);
        this.form.onSubmit(this.method, this.url)
          .then(response => {
            this.$toastr('success', this.form.alertMessage, 'Success!!');
            window.location.href = this.url;
          })
          .catch(errors => {
            this.$toastr('error', this.form.alertMessage, 'Error!!');
          });
      }
    }
  }
</script>

<style scoped>

</style>
