html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
}

.size-slider {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 50%;
    margin-left: -25%;
}
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(170, 172, 175, 0.43);
    z-index: 1000;
}

.glowworm-loader {
    display: inline-block;
    position: absolute;
    font-size: 50px;
    line-height: 0;
    width: 2.8em;
    height: 1em;
    text-align: center;
    z-index: 1000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.glowworm-motion {
    display: block;
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    animation-name: glowworm-motion;
    animation-timing-function: ease-in-out;
    animation-delay: -0.5 *1.8s;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
}

.glowworm-container {
    display: block;
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    transform: scale(0.9);
    animation-name: glowworm-container;
    animation-timing-function: ease-in-out;
    color: #fa2c7e;
}

.glowworm-left,
.glowworm-right {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: currentColor;
}

.glowworm-left {
    right: 50%;
    border-radius: 0.5em 0 0 0.5em;
    transform-origin: 100% 50%;
    animation-name: glowworm-left;
    animation-timing-function: cubic-bezier(0.25, 0, 1, 0.75);
}

.glowworm-right {
    left: 50%;
    padding-left: 1px;
    margin-left: -1px;
    border-radius: 0 0.5em 0.5em 0;
    transform-origin: 0 50%;
    animation-name: glowworm-right;
    animation-timing-function: cubic-bezier(0.25, 0.5, 0.75, 1);
}

.glowworm-left::after {
    border-radius: 0.5em 0 0 0.5em;
    animation-name: glowworm-left-overlay;
    animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
}

.glowworm-right::after {
    border-radius: 0 0.5em 0.5em 0;
    animation-name: glowworm-right-overlay;
    animation-timing-function: cubic-bezier(0, 0.25, 1, 0.75);
}

.glowworm-left::after,
.glowworm-right::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.glowworm-container,
.glowworm-left,
.glowworm-right,
.glowworm-left::after,
.glowworm-right::after {
    animation-delay: -0.5 *1.8s;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

.glowworm-loader {

&
::before,

&
::after {
    display: block;
    position: absolute;
    top: 0;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    content: '';
    transform: scale(0.9);
    animation-name: glowworm-reset;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
}

&
::before {
    left: 0;
    background-color: #ffc76f;
    animation-delay: -(0.5 +0.09) * 1.8 s;
}

&
::after {
    right: 0;
    background-color: #54d2e0;
    animation-delay: -(0.5 -0.09) * 1.8 s;
    animation-direction: reverse;
}

}

@keyframes glowworm-motion {
    0% {
        transform: translateX(-0.9em) scale(0);
    }

    9%,
    11% {
        transform: translateX(-0.9em) scale(1);
    }

    48%,
    51% {
        transform: translateX(0) scale(1);
    }

    89%,
    91% {
        transform: translateX(0.9em) scale(1);
    }

    100% {
        transform: translateX(0.9em) scale(0);
    }
}

@keyframes glowworm-container {
    0%,
    9%,
    11%,
    51%,
    91%,
    100% {
        transform: scale(0.9);
    }

    30%,
    71% {
        transform: scale(0.9, 0.85);
    }

    41%,
    80% {
        transform: scale(0.95);
    }

    0%,
    13% {
        color: #ffc76f;
    }

    46%,
    54% {
        color: #fa2c7e;
    }

    87%,
    100% {
        color: #54d2e0;
    }
}

@keyframes glowworm-left {
    0%,
    9%,
    11%,
    48%,
    51%,
    89%,
    91%,
    100% {
        transform: scale(1);
    }

    29%,
    70% {
        transform: scale(1.6, 1);
    }
}

@keyframes glowworm-right {
    0%,
    9%,
    11%,
    48%,
    51%,
    89%,
    91%,
    100% {
        transform: scale(1);
    }

    29%,
    70% {
        transform: scale(1.8, 1);
    }
}

@keyframes glowworm-left-overlay {
    0%,
    11%,
    48%,
    51%,
    89%,
    100% {
        opacity: 0;
    }

    29%,
    70% {
        opacity: 1;
    }

    0%,
    11%,
    48% {
        background-image: linear-gradient(to right, #ffc76f, rgba(#ffc76f, 0));
    }

    51%,
    89% {
        background-image: linear-gradient(to right, #fa2c7e, rgba(#fa2c7e, 0));
    }

    91%,
    100% {
        background-image: linear-gradient(to right, #54d2e0, rgba(#54d2e0, 0));
    }
}

@keyframes glowworm-right-overlay {
    0%,
    11%,
    48%,
    51%,
    89%,
    100% {
        opacity: 0;
    }

    29%,
    70% {
        opacity: 1;
    }

    0% {
        background-image: linear-gradient(to left, #ffc76f, rgba(#ffc76f, 0));
    }

    11%,
    48% {
        background-image: linear-gradient(to left, #fa2c7e, rgba(#fa2c7e, 0));
    }

    51%,
    89%,
    91%,
    100% {
        background-image: linear-gradient(to left, #54d2e0, rgba(#54d2e0, 0));
    }
}

@keyframes glowworm-reset {
    0%,
    18.0001%,
    100% {
        transform: scale(0);
    }

    18% {
        transform: scale(0.9);
    }
}

.page-item.active .page-link {
    background-color: #03abf0;
    border-color: #03abf0;
}

/** Active menu color **/
.m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #97e08e;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
    color: #97e08e;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #97e08e;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
    color: #97e08e;
}

/** Sidebar colors **/
.m-aside-left.m-aside-left--skin-dark, .m-brand.m-brand--skin-dark {
    background-color: #0f2129;
}

/** For the modal google component **/
.pac-container {
    z-index: 99999;
}

/** For the validation error */
.danger {
    color: #ed5a5a !important;
    font-size: 10px !important;
}

/** For table head **/
.table-head {
    background: #03abf0;
    color: white;
}

/** Form input field **/
.form-control, .form-control[readonly] {
    height: 40px !important;
    border: 1px solid #ced4da;
}

/** Set different height for textarea in form-control **/
textarea.form-control {
    height: 120px !important;
}

.input-error {
    border: 1px solid #ed5a5a !important;
}

/** Place '*' in red to all required field label **/
.required:after {
    content:"*";
    color: #ed5a5a;
}
