.input-error {
  border: 1px solid #ed5a5a !important;
}

/** Place '*' in red to all required field label **/
.required:after {
  content: "*";
  color: #ed5a5a;
}

span {
  .danger {
    color: #ed5a5a;
  }
}

.table {
  .table-head {
    background: #767fcc;
    color: white;
  }
}
