<template>

</template>

<script>
  import PortletContent from '../../../common/components/Portlets/Content/PortletContent'
  import Form from '../../../common/utitlities/Form'
  import Vue from "vue"
  import VueToastr from '@deveodk/vue-toastr'
  // You need a specific loader for CSS files like https://github.com/webpack/css-loader
  // If you would like custom styling of the toastr the css file can be replaced
  import '@deveodk/vue-toastr/dist/@deveodk/vue-toastr.css'

  Vue.use(VueToastr);
  Vue.use(VueToastr, {
    defaultPosition: 'toast-top-right',
    defaultType: 'info',
    defaultTimeout: 3000
  })

  export default {
    name: "invoice-form",
    data() {
      return {
        form: new Form(),
        loaded: true,
        formSubmitting: true,
        bale_number: '',
        description: '',
        hsn_code: '',
        product_type: '',
        quantity: '',
        u_m: '',
        rate: '',
        taxable_amount: '',
        total: 0,
        total_taxable_amount: 0,
        grand_total: 0,
        values: {
          invoice: {
            party_id: '',
            postage: 0,
            discount_rate: 0,
            igst_rate: 0,
            insurance: 0,
            transport_amount: 0,
            miscellaneous_amount: 0
          },
          items: [],
          deletedRows: []
        }
      }
    },
    props: {
      url: {
        required: true
      },
      method: {
        type: String,
        default: "post"
      },
      invoice: {
        required: false
      },
      records: {
        required: false
      }
    },
    components: {
      PortletContent
    },
    // watch: {
    //   'values.items.quantity': function(quantity) {
    //     console.log(auantity)
    //   }
    // },
    mounted() {
      if (this.method === 'patch') {
        const self = this;
        let invoice = JSON.parse(self.invoice);
        self.values.invoice = invoice;
        self.values.items = JSON.parse(self.records);
        self.calculateTotalAmount();
        // self.values.deletedRow = []
        // const records = invoice.records;
        // records.forEach(function(record) {
        //   console.log(record);
        //   var elem = document.createElement('tr');
        //
        // self.values.items.push({
        //   record_id: record.id,
        //   bale_number: record.bale_number,
        //   description: record.description,
        //   hsn_code: record.hsn_code,
        //   product_type: record.product_type,
        //   quantity: record.quantity,
        //   u_m: record.u_m,
        //   rate: record.rate,
        //   taxable_amount: record.taxable_amount
        // });
        // });

      }
    },
    methods: {
      submit() {
        console.log(this.values.items);
        this.form = new Form(this.values);
        this.form.onSubmit(this.method, this.url)
          .then(response => {
            this.$toastr('success', this.form.alertMessage, 'Success!!');
            window.location.href = this.url;
          })
          .catch(errors => {
            console.log(errors);
            this.$toastr('error', this.form.alertMessage, 'Error!!');
          });
      },
      addRow: function() {
        var elem = document.createElement('tr');
        this.values.items.push({
          bale_number: '',
          description: '',
          product_type: '',
          hsn_code: '',
          quantity: 0,
          u_m: '',
          rate: 0,
          taxable_amount: ''
        });
        this.calculateTotalAmount();
      },
      removeElement: function(index) {
        this.values.items.splice(index, 1);
        this.calculateTotalAmount();
      },
      calculateTaxableAmount() {
        this.taxable_amount = this.quantity * this.rate;
      },
      calculateTotalAmount() {
        var self = this;
        self.total = 0;
        this.values.items.forEach(function(item) {
          self.total += parseInt(item.taxable_amount);
        });
        self.total_taxable_amount = (self.total - (parseInt(self.values.invoice.discount_rate) * self.total / 100) + parseInt(self.values.invoice.insurance)
          + parseInt(self.values.invoice.postage) + parseInt(self.values.invoice.transport_amount) + parseInt(self.values.invoice.miscellaneous_amount));
      },
      /**
       * Handle row edit click.
       * @param index
       */
      handleRowEditClick(index) {
        let items = [...this.values.items];
        let item = items[index];
        item.is_edit = !item.is_edit;

        Vue.set(this.values.items, index, item);
        this.calculateTotalAmount();
      },
      /**
       * Add new site to data object.
       */
      addNewRow() {
        if (this.description && this.product_type && this.quantity && this.rate) {
          let row = {
            bale_number: this.bale_number,
            description: this.description,
            hsn_code: this.hsn_code,
            product_type: this.product_type,
            quantity: this.quantity,
            u_m: this.u_m,
            rate: this.rate,
            taxable_amount: this.taxable_amount
          };
          this.values.items.push(row);
          this.bale_number = null;
          this.description = null;
          this.hsn_code = null;
          this.product_type = null;
          this.quantity = null;
          this.u_m = null;
          this.rate = null;
          this.taxable_amount = null;
        } else {
          this.$toastr('error', 'Please fill in all the details', 'Error')
        }

        this.calculateTotalAmount();
      },
      /**
       * Remove the site when index is provided.
       * @param {int} index
       * @param {Object} row
       */
      removeRow(index, row) {
        if (row.hasOwnProperty('id')) {
          this.values.deletedRows.push(row.id);
        }
        console.log(this.values);
        this.values.items.splice(index, 1);
      },
    },
  }
</script>

<style scoped>

</style>
