<template></template>

<script type="text/ecmascript-6">
  import PortletContent from '../../../common/components/Portlets/Content/PortletContent'
  import Form from "../../../common/utitlities/Form";
  import EditButton from '../../../common/components/Buttons/EditButton'
  import Modal from '../../../common/components/Modal'

  export default {
    name: 'profile',
    props: ['changepasswordurl'],
    data() {
      return {
        loaded: true,
        form: new Form(),
        modals: {
          changePassword: {
            show: false,
            disableSave: false,
            values: {
              old_password: '',
              password: '',
              password_confirmation: ''
            }
          }
        }
      }
    },
    components: {
      PortletContent,
      EditButton,
      Modal
    },
    methods: {
      /**
       * Changes the password.
       **/
      changePassword() {
        this.form = new Form(this.modals.changePassword.values);
        console.log(this.form);
        this.form.onSubmit('patch', this.changepasswordurl)
          .then(response => {
            this.modals.changePassword.show = false;
            this.$toastr('success', this.form.alertMessage, 'Success!!');
          })
          .catch(errors => {
            this.$toastr('error', this.form.alertMessage, 'Error!!');
          });
      },
      /**
       * Hides modal along with resetting the form.
       **/
      hideModal(modal){
        this.modals[modal].show = false;
        this.modals[modal].values = {};
        this.form = new Form();
      }
    }
  }
</script>
